---
import { Image } from "astro:assets";
import a from "../../assets/pictures/a.jpg";
import b from "../../assets/pictures/b.jpg";
import c from "../../assets/pictures/c.jpg";
---
<div class="w-full flex items-center justify-center mt-20">
<div class="marquee">
  
  <ul class="marquee-content space-x-8 flex items-center justify-start">
    <li class="h-full">
      <Image src={a} alt="img" class="rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" />
    </li>
    <li><Image src={b} alt="img" class="rotate-6 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
    <li><Image src={c} alt="img" class="-rotate-10 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
    <li><Image src={a} alt="img" class="rotate-3 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
    <li><Image src={b} alt="img" class="-rotate-6 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
    <li><Image src={c} alt="img" class="rotate-0 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
    <li><Image src={a} alt="img" class="-rotate-12 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
    <li><Image src={b} alt="img" class="rotate-6 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
    <li><Image src={c} alt="img" class="rotate-6 rounded-3xl grayscale hover:grayscale-0 transition-all duration-1000 cursor-pointer w-96" /></li>
  </ul>
</div>
</div>

<style>
  :root {
    --marquee-width: 100%;
    --marquee-height: 50vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(
      var(--marquee-width) / var(--marquee-elements-displayed)
    );
    --marquee-animation-duration: calc(var(--marquee-elements) * 8s);
  }

  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    overflow: hidden;
    position: relative;
  }
  .marquee:before,
  .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #161616 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #161616 0%, transparent 100%);
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
      );
    }
  }
  .marquee-content li {
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    white-space: nowrap;
  }

  @media (max-width: 600px) {
    html {
      font-size: 12px;
    }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before,
    .marquee:after {
      width: 5rem;
    }
  }
</style>

<script>
  const root = document.documentElement;
  const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue(
    "--marquee-elements-displayed"
  );
  const marqueeContent = document.querySelector("ul.marquee-content");

  root.style.setProperty("--marquee-elements", marqueeContent.children.length);

  for (let i = 0; i < marqueeElementsDisplayed; i++) {
    marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
  }
</script>
